.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
    width: 100%;
}

.form-control input {
    border: 2px solid rgb(220, 236, 236);
    font: inherit;
    border-radius: 2px;
}

button {
    font: inherit;
    border: 1px solid purple;
    color: #cf08cf;
    background: white;
    border-radius: 5px;
    cursor: pointer;
    padding: 1rem, 0;
}

button:hover,
button:active {
    background-color: purple;
    color: white;
}